details {

    summary::-webkit-details-marker {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    summary h1,summary h2,summary h3,summary h4,summary h5,summary h6 {
        display: inline;
    }
}
