#logo {
    display: block;
    font-size: 0px;
    height: 0px;
    width: 80%;
    padding-top: 28.5%;
    margin: 12.5% auto 10px auto;

    background-image: url(../image/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
