q {
    font-size: 1.3rem;

    &:before , &:after {
        top: .2rem;
        position: relative;
    }

    &:before { content: "["; }
    &:after { content: "]"; }

    a {
        margin-right: 1rem;
        &:last-child { margin-right: 0; }
    }

    a:after { content: ","; }
    a:last-child:after { content: ""; }
}
